ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 30px;
  justify-content: center;
}

img {
  width: 300px;
  height: 100%;
}

header {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 70px;
  background-color: #149eca;
  & > form > button {
    width: 20px;
    position: relative;
    left: 20px;
    background-color: transparent;
    border: none;
  }
}

input {
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  height: 30px;
  border: none;
  padding-left: 25px;
  width: 300px;
}

.button--load-more {
  height: 35px;
  margin: 15px;
  color: white;
  background-color: #23272f;
  width: 160px;
  border-color: white;
  border-radius: 15px;
  border-style: double;
  border-width: 0.5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  &:hover {
    cursor: pointer;
    background-color: #149eca;
  }
}
